<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="Phalanger" path="*.php" verb="*" type="PHP.Core.RequestHandler, PhpNetCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71" />
		</handlers>
		<defaultDocument>
			<files>
				<add value="index.php" />
			</files>
		</defaultDocument>
		<httpErrors errorMode="Detailed">
			<clear />
		</httpErrors>
	</system.webServer>
	<system.web>
		<globalization responseEncoding="utf-8" fileEncoding="utf-8" />
		<httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0" />
		<pages validateRequest="false" />
	</system.web>
	<phpNet>
		<compiler>
			<set name="EnableStaticInclusions" value="true" />
		</compiler>
		<error-control>
			<set name="DisplayErrors" value="false" phpName="display_errors" />
		</error-control>
		<classLibrary>
			<add assembly="PhpNetCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71"/>
			<add assembly="PhpNetMySql, Version=3.0.0.0,Culture=Neutral, PublicKeyToken=2771987119c16a03" section="mysql" />
		</classLibrary>

		<globalization>
			<set name="PageEncoding" value="utf-8" />
		</globalization>
		<bcl>
			<mailer>
				<!-- SMTP server name used for sending e-mails. -->
				<set name="SmtpServer" value="127.0.0.1" phpName="SMTP" />
				<!-- SMTP server port used for sending e-mails. -->
				<set name="SmtpPort" value="25" phpName="smtp_port" />
				<!-- The default value of "From" header. -->
				<set name="DefaultFromHeader" value="info@phpcompiler.net" phpName="sendmail_from" />
			</mailer>
		</bcl>
	</phpNet>
</configuration>
