<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="phpNet" type="PHP.Core.ConfigurationSectionHandler, PhpNetCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71" />
	</configSections>
	<system.webServer>
		<handlers>
			<add name="Phalanger" path="*.php" verb="*" type="PHP.Core.RequestHandler, PhpNetCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71" />
		</handlers>
		<defaultDocument>
			<files>
				<add value="index.php" />
			</files>
		</defaultDocument>
		<httpErrors errorMode="Detailed">
			<clear />
		</httpErrors>
	</system.webServer>
	<system.web>
		<compilation targetFramework="4.0" />
		<globalization responseEncoding="utf-8" fileEncoding="utf-8" />
		<httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0" />
		<pages validateRequest="false" />
	</system.web>
	<appSettings>
		<add key="MYSQL_CONNECTION_STRING" value="server=localhost:3306;database=wordpress_dev;uid=root;pwd=toor" />
	</appSettings>
	<phpNet>
		<compiler>
			<set name="EnableStaticInclusions" value="true" />
		</compiler>
		<error-control>
			<set name="DisplayErrors" value="false" phpName="display_errors" />
		</error-control>
		<classLibrary>
			<add assembly="PhpNetCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71"/>
			<add assembly="PhpNetClassLibrary, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4af37afe3cde05fb" section="bcl" />
			<add assembly="PhpNetXmlDom, Version=3.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="dom" />
			<add assembly="php4ts, Version=3.0.0.0, Culture=neutral, PublicKeyToken=43B6773FB05DC4F0"/>
			<add assembly="PhpNetMySql, Version=3.0.0.0,Culture=Neutral, PublicKeyToken=2771987119c16a03" section="mysql" />
			<add assembly="php_xml.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="xml" />
			<add assembly="php_image.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="image" />
			<add assembly="php_zlib.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="zlib" />
			<add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</classLibrary>

		<globalization>
			<set name="PageEncoding" value="utf-8" />
		</globalization>
		<bcl>
			<mailer>
				<!-- SMTP server name used for sending e-mails. -->
				<set name="SmtpServer" value="127.0.0.1" phpName="SMTP" />
				<!-- SMTP server port used for sending e-mails. -->
				<set name="SmtpPort" value="25" phpName="smtp_port" />
				<!-- The default value of "From" header. -->
				<set name="DefaultFromHeader" value="info@phpcompiler.net" phpName="sendmail_from" />
			</mailer>
		</bcl>
	</phpNet>
</configuration>
